.header {
  height: 40px;
  width: 100%;
  background-color: beige;
  text-align: center;
}
.first {
  float: left;
}
.title {
  margin-left: 50px;
  width: 40px;
  margin-right: 90px;
  font-size: 18px;
}
.button {
  margin-top: -5px;
  margin-left: 4px;
}
.AppContent {
  top: 40px;
  position: absolute;
}
